body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#drawingCanvas {
    border: 1px solid white;
    background-color: black;
    width: 100%;
    height: 100%;
}

#labelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#accuracyLabel, #bestAccuracyLabel {
    font-size: 16px;
    margin: 5px;
}

#seeBestAttemptBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
